In [3]:
import pandas as pd
melb_data = pd.read_csv ('data/melb_data.csv',sep=',')

In [ ]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')

In [ ]:
display(melb_data.describe())

In [55]:
mask=melb_data['Landsize']>2000
a=melb_data[mask]['Landsize'].mean()


display(a)

7936.94537815126

In [16]:
mask=melb_data['Bathroom']==0
a=melb_data[melb_data['BuildingArea']==0].min()

display(a['Price'])

C:\Users\Peka\AppData\Local\Temp\ipykernel_17428\2145444582.py:2: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  a=melb_data[melb_data['BuildingArea']==0].min()

412500.0

In [22]:
a=melb_data[(melb_data['Price']<3000000)&((melb_data['Type']=='h'))].describe(include=['object'])

display(a)

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,9220,9220,9220,9220,9220,9220,7999,9220,9220
unique,313,9075,1,5,232,58,33,8,9160
top,Reservoir,2 Bruce St,h,S,Nelson,27/05/2017,Moreland,Northern Metropolitan,"-37.74635, 144.9229"
freq,253,3,9220,6367,1154,334,842,2737,2

In [6]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12